<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>profile page</h1>
    <div class="bar33">
        <div class="user-detail">
            <h1><%= profile.name %></h1>
                <p>email: $<%= profile.email %></p>
               
            
        </div>
    </div>

</body>
</html>